<template>
  <div class="table">
    <md-table>
      <md-table-row>
        <md-table-head>Nombre</md-table-head>
        <md-table-head>Descripción</md-table-head>
        <md-table-head>Precio</md-table-head>
      </md-table-row>

      <md-table-row v-for="(product, i) in products" :key="i">
        <md-table-cell>{{ product.name }}</md-table-cell>
        <md-table-cell>{{ product.desc }}</md-table-cell>
        <md-table-cell>{{ product.price }}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  name: "Table",
  props: {
    products: Array
  }
};
</script>

<style>
.table {
  margin-top: 50px;
}

.md-table-head {
  text-align: center;
}
</style>
